.floatheader {
	border-radius: 100%;
	float: left;
	margin-right: 20px;
	background-color: lightblue;
}

.floatright {
	float: right;
	border-radius: 30px;
	margin-left: 20px;
}

.floatclass {
	overflow: auto;
	border: 10px solid lightblue;
	padding: 20px;
}
